.main-nav {
  display: flex;
  margin-left: auto;
}

.main-nav__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  line-height: 16px;
  height: 26px;
  display: grid;
  place-items: center;
}

.main-nav__item:hover {
  color: $green;
  transition-duration: 0.3s;
}

.main-nav__button {
  width: 122px;
  height: 44px;
  line-height: 22px;
  color: white;
  margin-left: 30px;
  background-image: url("../../img/shop.svg");
  background-repeat: no-repeat;
  background-position: 18px 14px;
  background-size: 17px 17px;
}