@mixin fontMain {
  font: {
    family: "Roboto", sans-serif;
    style: normal;
    weight: 400;
    size: 16px;
  }

  line-height: 26px;
}

@mixin fontTitle {
  font: {
    family: "Source serif pro", sans-serif;
    style: normal;
    weight: 400;
    size: 32px;
  }

  color: $green;
}